@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
* { 
    /* font-family: 'Changa', sans-serif; */
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    
}
.gradient {
    background: linear-gradient(to right,#009688, #13435d);

}
body {
background-color: rgb(226, 226, 226);
}
.bg-header {
    height: 10rem;
    margin-bottom: -150px;  
}
header {
    height: 10rem;
    border-bottom: solid #00b7ff 3px;
    display: inline;
}

header img {
    width: 200px;
    height: 200px;
    /* border: solid #00b7ff 3px; */
    max-width: 250px;
    position: relative;
    
    background: linear-gradient(to right,#009688, #13435d);
    padding: 4px;   
    border-radius: 50%;
    
}


header h3 {
    color: #13435d;
    font-weight: bold;

}

.row {
    --bs-gutter-x: 4.5rem;
    margin-left: 0 !important;
    /* margin-right: 0 !important; */
}


.bg-custom {
    border: none;
    background-image: linear-gradient(to right,#009688, #13435d);
}

.float-right {
    /* float: right; */
    text-align: right;
    text-align: justify;

}
.content {
    margin-top: 30px;
}



.content h1 {
    margin: 0 auto;
    padding: 7px;
    /* border-top: solid 2px #13435d; */
    border-bottom: solid 2px #00b7ff;
    width: 30%;
    background-color: #f6f6f6fc;
    padding-right: 0;

}
header .card-body .card-text {
    line-height: 2rem;
}

.row>* {
    padding-left: 0;
}



a {
    text-decoration: none;
}


footer {
    margin-top: 90px;
    height: 120px;
    width: 100%;

}
footer .mt-footer {
    margin-top: 50px;
}

i {

    margin-right: 15px;
    margin-left: 15px;
}

footer a {
    transition: 0.5s;
    color: white;
    opacity: 50%;
}

footer a:hover {
    transition: 0.5s;
    color: white;
    opacity: 100%;

}

.card {
    border: none;
}



.up {
  position: fixed;
  bottom: 95px;
  right: -60px;
  background-color: #053853;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.5s;
}
.up.show {
  right: 10px;
}